.contALL {
    /* border: 2px solid black; */
    width: 100%;
    
    height: 4em;
    /* background-color: #ffff00; */
    margin-top: -0.4em;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.contLogo {
    width: 10%;
    padding: 1em;
    /* border: 1px solid black; */
}
.contLogo img {
    height: 80%;
    cursor: pointer;
}
.contTitle {
    width: 80%;
    /* border: 1px solid black; */
}
.contUser {
    width: 10%;
    padding: 1em;
    /* border: 1px solid black; */
}