.container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  /* margin-top: 2em; */
  /* margin-left: 35em; */
}

.input {
  border-radius: 0.3em;
  height: 2.5em;
  width: 30em;
  margin-left: 35em;
}

.boton {
  border-radius: 0.3em;
  height: 2.5em;
  width: 30.5em;
  margin-left: 35em;
}

.yellow {
  background-color: yellow;
  width: 100%;
  height: 60%;
  margin-bottom: 2rem;
  padding: 2em;
 
}

.toggle{
  position: absolute;
 margin-top: 4.3em;  
 margin-left: 52em;
}

.errorE{
  color: rgba(188, 12, 12, 0.995);
  font-size: 0.8em;
  position: absolute;
  margin-top: -1.6em;
  margin-left: 37em;
}

.errorP{
  color: rgba(188, 12, 12, 0.995);
  font-size: 0.8em;
  position: absolute;
  margin-top: 3.3em;
  margin-left: 37em;
}