
.containerAll {
    /* background-color: #ffff00; */
}

  .title{
    color: #090909;
    display: flex;
    margin-top: -0.5em;
    margin-left: 14em;
    font-size: 2.5em;
  }
  
  .img{
    display: flex;
    margin-top: -17em;
    margin-left: 30em;
  }

  .hola{
    z-index: 9999;
    display: flex;
    width: 18em;
    margin-top: 7em;
    margin-left: 34em;
  }