
.contALL {
  /* border: 2px solid black; */
  width: 90%;
  display: flex;
  flex-direction: column;
  /* margin-left: -0.6rem; */
  /* justify-content: center;
  align-items: center; */
}
.contLogo img {
  width: 40%;
}

.contLogin {
  /* border: 2px solid red; */
}
  
.contHola {
  /* position: relative; */
  /* border: 4px solid green; */
}  
.contHola img {
    /* position: relative; */
    width: 30%;
}
.contLogin {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  /* align-items: center; */
}