.contALL {
    position: absolute;
    width: 12rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: #ffff00;
    z-index: 9999;
    margin-left: -6rem;
    margin-top: 1rem;
}
.contTec {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    /* background-color: green; */
    /* margin-top: 1rem; */
}
.contComp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 1rem; */
    width: 100%;
    /* background-color: red; */
    padding-top: 1rem;
}
.contComp:hover {
    background-color: #dbdb00;
}
.contComp input {
    margin-right: 1.5rem;
}
.contComp label {
    margin-left: 1.5rem;
}
.contCompHTML {
    border-radius: 20px 20px 0px 0px;
}
.contButton {
    margin-top: 1rem;
}

.button {
    align-items: center;
    appearance: none;
    background-color: #EEF2FF;
    border-radius: 8px;
    border-width: 2px;
    border-color: #fbfe53;
    box-shadow: rgba(172, 172, 172, 0.4) 0 2px 4px, rgba(172, 172, 172, 0.4) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 45px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 15px;
  }
  
  /* .button:focus {
    outline: none;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(254, 251, 83, 0.4) 0 2px 4px, rgba(254, 251, 83, 0.4) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  } */
  
  .button:hover {
    box-shadow: rgba(172, 172, 172, 0.4) 0 4px 8px, rgba(172, 172, 172, 0.4) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }